<footer><!--basic footer tag-->
    <div class="f-info"><!--footer info-->
        <div class="f-info-socials"><!--div for socialmedia links-->
            <i class="fa-brands fa-square-facebook"></i><!--facebook logo-->
            <i class="fa-brands fa-square-instagram"></i><!--instagram logo-->
            <i class="fa-brands fa-linkedin"></i><!--linkedIn logo-->

        </div>
        <div class="f-info-brand">&copy;<!--copyright symbol in html--> Wanderlust Private Limited</div><!--div to write the company name-->
        <div class="f-info-links"><!--div to write privacy and terms-->
            <a href="/privacy">Privacy</a><!--later we create /privacy-->
            <a href="/terms">Terms</a><!--later we create /terms for the page-->
        </div>
    </div>
</footer>